<!DOCTYPE HTML>

<html>

<head>
	<title>Bunny幫你</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/allbrand.css" />
	<link rel="manifest" href="manifest.json">
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
		<div id="intro">
			<h1>Bunny幫你<br />
			</h1>
			<p>不知道哪些品牌是無動物實驗的嗎 ?沒問題 !
				只要依據您的需求尋找類別，就可以找到無動物實驗的產品唷 ! <a href="https://twitter.com/ajlkn"></a><br />

			<ul class="actions">
				<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
			<br />
			
		</div>

		<!-- Header -->
		<header id="header">
			<a href="/" class="logo">Bunny幫你</a>
			<span class="date" style="margin-top: 20px;">名單更新日期:<%= items[0].updatetime %></span>
		</header>
		

		<!-- Nav -->
		<!--
					<!<nav id="nav">
						<ul class="links">
							<li class="active"><a href="makeup.html">This is Massively</a></li>
							<li><a href="generic.html">Generic Page</a></li>
							<li><a href="elements.html">Elements Reference</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>
 -->
		<!-- Main -->
		<!-- HTML -->
		<div id="main">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<a href="allbrand" id="gotop">
				<i class="fa fa-angle-up"></i>
			</a>
			<script type="text/javascript">
				$(function() {
					/* 按下GoTop按鈕時的事件 */
					$('#gotop').click(function(){
						$('html,body').animate({ scrollTop: 0 }, 'slow');   /* 返回到最頂上 */
						return false;
					});
					
					/* 偵測卷軸滑動時，往下滑超過400px就讓GoTop按鈕出現 */
					$(window).scroll(function() {
						if ( $(this).scrollTop() > 400){
							$('#gotop').fadeIn();
						} else {
							$('#gotop').fadeOut();
						}
					});
				});
			</script>   
			<section>
				<div class="container">
					<input type="radio" name="panelCtrl" id="tab1" checked>
					<input type="radio" name="panelCtrl" id="tab2">
					<input type="radio" name="panelCtrl" id="tab3">
					<input type="radio" name="panelCtrl" id="tab4">

					<div class="tabPanel">
						<label for="tab1" class="tab tab1">ALL</label>
						<label for="tab2" class="tab tab2">LEAPING BUNNY CERTIFICATION</label>
						<label for="tab3" class="tab tab3">PETA</label>
						<label for="tab4" class="tab tab4">兔兔不哭</label>
					</div>

					<div class="contentGroup">
						<div class="content content1">
							<table class="order-table">
								<thead>
									<tr>
										<th width="75%">
											<div class="container-1" style="margin-bottom: 10px; " >
												<span class="icon" style="margin-right: 10px;">品牌名稱</span>
												<span class="icon">
												<input type="search" class="light-table-filter"  data-table="order-table" placeholder="Search..." style="border-radius: 20px; margin-right: 10px;">
											</div>
										</th>
										<th width="10%"></th>
										<th width="5%"></th>
										<th width="5%"></th>
										<th width="5%"></th>
									</tr>
								</thead>
								<tbody>
									<% for(var i=0; i<items.length; i++) {%>
										<tr>
											<td width="75%" style="word-break: break-all;display: table-cell; vertical-align:middle ;">
												<%= items[i].b_name %>
											</td>
											<td width="10%"></td>
											<td width="5%">
												<% if(items[i].leapingbunny==true) {%>
													<img class="image fit" src="images/leapingbunny.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
												<% } %>
											</td>
											<td width="5%">
												<% if(items[i].peta==true) {%>
													<img class="image fit" src="images/peta.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
												<% } %>
											</td>
											<td width="5%">
												<% if(items[i].nmcb==true) {%>
													<img class="image fit" src="images/nmcb.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
												<% } %>
											</td>
										</tr>
									<% } %>
								</tbody>
							</table>
							<span class="date">參考資料:</span></br>
							<span>LEAPING BUNNY CERTIFICATION: <a href="https://www.leapingbunny.org/shopping-guide">https://www.leapingbunny.org/shopping-guide</a></span></br>
							<span>PETA: <a href="https://crueltyfree.peta.org/companies-dont-test/">https://crueltyfree.peta.org/companies-dont-test/</a></span></br>
							<span>兔兔不哭: <a href="https://www.922.org.tw/response/">https://www.922.org.tw/response/</a></span>
						</div>
						<div class="content content2">
							<table class="order-table">
								<thead>
									<tr>
										<th width="75%">
												<span class="icon" style="margin-right: 10px;">品牌名稱</span>
												<input type="search" class="light-table-filter"  data-table="order-table" placeholder="Search..." style="border-radius: 20px; margin-right: 10px;">
										</th>
										<th width="10%"></th>
										<th width="5%"></th>
										<th width="5%"></th>
										<th width="5%"></th>
									</tr>
								</thead>
								<tbody>
									<% for(var i=0; i<items.length; i++) {%>
										<% if(items[i].leapingbunny==true) {%>
											<tr>
												<td width="75%" style="word-break: break-all;display: table-cell; vertical-align:middle ;">
													<%= items[i].b_name %>
												</td>
												<td width="10%"></td>
												<td width="5%">
													<% if(items[i].leapingbunny==true) {%>
														<img class="image fit" src="images/leapingbunny.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
													<% } %>
												</td>
												<td width="5%">
													<% if(items[i].peta==true) {%>
														<img class="image fit" src="images/peta.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
													<% } %>
												</td>
												<td width="5%">
													<% if(items[i].nmcb==true) {%>
														<img class="image fit" src="images/nmcb.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
													<% } %>
												</td>
											</tr>
										<% } %>
									<% } %>
								</tbody>
							</table>
							<span class="date">參考資料:</span></br>
							<span>LEAPING BUNNY CERTIFICATION: <a href="https://www.leapingbunny.org/shopping-guide">https://www.leapingbunny.org/shopping-guide</a></span></br>
						</div>
						<div class="content content3">
							<table class="order-table">
								<thead>
									<tr>
										<th width="75%">
											<div class="container-1" style="margin-bottom: 10px; " >
												<span class="icon" style="margin-right: 10px;">品牌名稱</span>
												<span class="icon">
												<input type="search" class="light-table-filter"  data-table="order-table" placeholder="Search..." style="border-radius: 20px; margin-right: 10px;">
											</div>
										</th>
										<th width="10%"></th>
										<th width="5%"></th>
										<th width="5%"></th>
										<th width="5%"></th>
									</tr>
								</thead>
								<tbody>
									<% for(var i=0; i<items.length; i++) {%>
										<% if(items[i].peta==true) {%>
											<tr>
												<td width="75%" style="word-break: break-all;display: table-cell; vertical-align:middle ;">
													<%= items[i].b_name %>
												</td>
												<td width="10%"></td>
												<td width="5%">
													<% if(items[i].leapingbunny==true) {%>
														<img class="image fit" src="images/leapingbunny.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
													<% } %>
												</td>
												<td width="5%">
													<% if(items[i].peta==true) {%>
														<img class="image fit" src="images/peta.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
													<% } %>
												</td>
												<td width="5%">
													<% if(items[i].nmcb==true) {%>
														<img class="image fit" src="images/nmcb.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
													<% } %>
												</td>
											</tr>
										<% } %>
									<% } %>
								</tbody>
							</table>
							<span class="date">參考資料:</span></br>
							<span>PETA: <a href="https://crueltyfree.peta.org/companies-dont-test/">https://crueltyfree.peta.org/companies-dont-test/</a></span></br>
						</div>
						<div class="content content4">
							<table class="order-table">
								<thead>
									<tr>
										<th width="75%">
											<div class="container-1" style="margin-bottom: 10px; " >
												<span class="icon" style="margin-right: 10px;">品牌名稱</span>
												<span class="icon">
												<input type="search" class="light-table-filter"  data-table="order-table" placeholder="Search..." style="border-radius: 20px; margin-right: 10px;">
											</div>
										</th>
										<th width="10%"></th>
										<th width="5%"></th>
										<th width="5%"></th>
										<th width="5%"></th>
									</tr>
								</thead>
								<tbody>
									<% for(var i=0; i<items.length; i++) {%>
										<% if(items[i].nmcb==true) {%>
											<tr>
												<td width="75%" style="word-break: break-all;display: table-cell; vertical-align:middle ;">
													<%= items[i].b_name %>
												</td>
												<td width="10%"></td>
												<td width="5%">
													<% if(items[i].leapingbunny==true) {%>
														<img class="image fit" src="images/leapingbunny.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
													<% } %>
												</td>
												<td width="5%">
													<% if(items[i].peta==true) {%>
														<img class="image fit" src="images/peta.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
													<% } %>
												</td>
												<td width="5%">
													<% if(items[i].nmcb==true) {%>
														<img class="image fit" src="images/nmcb.png" alt="" style="width:30px; height:30px; display:block; margin:auto;"/>
													<% } %>
												</td>
											</tr>
										<% } %>
									<% } %>
								</tbody>
							</table>
							<span class="date">參考資料:</span></br>
							<span>兔兔不哭: <a href="https://www.922.org.tw/response/">https://www.922.org.tw/response/</a></span>
						</div>
					</div>

				</div>
			</section>
		</div>
		<!-- Footer 
				<!--	<footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>1234 Somewhere Road #87257<br />
								Nashville, TN 00000-0000</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">(000) 000-0000</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">info@untitled.tld</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>
-->
		<!-- Copyright -->

		<div id="copyright">
			<ul>
				<li>&copy;</li>
				<li>Bunny幫你 <a href=""></a></li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/ordertable.js"></script>

</body>

</html>