<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>會員資料編輯頁面</title>
  </head>

  <body>

    

    <header class="container">
      <img
        src="images/profile.jpg"
        class="mt-5 rounded-circle mx-auto d-block"
        id="photo"
      />
      <h5 class="text-center mt-3"><td><input type="text" placeholder="暱稱"></h5>
    </header>
    <div class="container mt-5">
      <div class="row row-cols-1 row-cols-md-3 g-4">
  <!--     <div class="col">
          <div class="card h-100 text-center">
            <img src="images/thumbs/01.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">香煎鮭魚排</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center">
            <img src="images/thumbs/02.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">水果總匯優格</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center">
            <img src="images/thumbs/03.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">青醬時蔬蝴蝶麵</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center">
            <img src="images/thumbs/04.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">鮮橙黑胡椒牛排</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center">
            <img src="images/thumbs/05.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">岩鹽牛排</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center">
            <img src="images/thumbs/06.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">莓果鬆餅</h5>
            </div>
          </div>
        </div>
      </div>
    </div>--> 

    <table>
    </select> </td>
    <td><input type="text" placeholder="暱稱">
    <input type="submit" name="button3" id="button3" value="修改資料" /></td>
    </table>

    <table>
    </select> </td>
    <td><input type="text" placeholder="信箱">
    <input type="submit" name="button3" id="button3" value="修改資料" /></td>
    </table>

    <table>
    </select> </td>
    <td><input type="text" placeholder="密碼">
    <input type="submit" name="button3" id="button3" value="修改資料" /></td>
    </table>

    <table>
    </select> </td>
    <td>
        <p>性別:<br />
            <select name="m_sex">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </p>
        <input type="submit" name="button3" id="button3" value="修改資料" /></td>
    </td>

</table>


    <table>
    </select> </td>
    <td>
        <p>生日:<br /><input type="date" name="m_birth" value=<%=item.m_birth %> ></p>
        <input type="submit" name="button3" id="button3" value="修改資料" /></td>
    </td>
</table>

    <table>
    </select> </td>
    <td><input type="text" placeholder="已登記為實驗動物領養人">
    <input type="submit" name="button3" id="button3" value="修改資料" /></td>
    </table>
    
    <footer class="text-center text-white py-2">
    
    </footer>
    <!-- Optional JavaScript -->
    <script src="js/bootstrap.js"></script>
  </>
</html>



<!--分隔線分隔線分隔線分隔線分隔線分隔線分隔線分隔線分隔線分隔線分隔線-->

<!-- <!doctype html>
<html lang="en">-->

<!--<head>-->
    <!-- Required meta tags
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- Bootstrap CSS 
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/membereditor.css">
    <link rel="manifest" href="manifest.json">
    <title>會員資料修改頁面</title>
</head>-->

<!--<body>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar-menu hidden-xs hidden-sm">
                <div class="top-section">-->
                </div> <!-- top-section -->
            </div> <!-- .sidebar-menu -->
        <!--    <div class="main">
                <div class="col-lg-10 mx-auto py-5">
                    <h4>會員資料修改頁面</h4>
                    <form action="/memberupdate" enctype="multipart/form-data" method="post" name="form" onchange="readURL(this)" targetID="changepic">
                        <table>
                            </select> </td>
                            <td>
                                <div class="profile-image">
                                    <img id="changepic" src=<%=item.m_pic %> alt="會員頭貼">
                                </div>
                            </td>
                            <td>
                                <p>選擇會員照片</p>
                                <input type="file" name="m_pic" onchange="readURL(this)" targetID="changepic" accept="image/gif, image/jpeg, image/png">
                            </td>
                        </table>
                        <table>
                            </select> </td>
                            <td>
                                <p>*暱稱:<br /><input type="text" name="m_nickname" required value=<%=item.m_nickname %> >
                                </p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>*信箱:<br /><input type="text" name="m_email" readonly value=<%=item.m_email %> ></p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>*密碼:<br /><input type="text" name="m_password" required value=<%=item.m_password %> >
                                </p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>電話:<br /><input type="text" name="m_phone" oninput="value=value.replace(/[^\d]/g,'')"
                                        value=<%=item.m_phone %> ></p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>生日:<br /><input type="date" name="m_birth" value=<%=item.m_birth %> ></p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>性別:<br />
                                    <select name="m_sex">
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </p>
                            </td>

                        </table>

                        <p><input type="submit" value="送出登記資料"></p>
                    </form>
                    <script>
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var imageTagID = input.getAttribute("targetID");
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var img = document.getElementById(imageTagID);
                                    img.setAttribute("src", e.target.result)
                                }
                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>


-->
                    <!--  <div class="col-xl-10">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="暱稱"> <input id="btn1" type="button" value="修改" onclick="btnnumkeypad(this)" style="position:relative; left:600px; top: 0px; " /> 
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="信箱">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="電話">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="性別">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="生日">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="實驗動物領養人">
                    </div>-->

                    <!--<div class="row">
                    <div class="col-sm my-2">
                        <img src="images/" class="img-fluid">
                    </div>-->
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="js/bootstrap.js"></script>
</body>

</html>