<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/membereditor.css">
    <title>會員修改頁面</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar-menu hidden-xs hidden-sm">
                <div class="top-section">
                </div> <!-- top-section -->
            </div> <!-- .sidebar-menu -->
            <div class="main">
                <div class="col-lg-10 mx-auto py-5">
                    <h4>會員資料修改頁面</h4>
                    <form action="/memberupdate" enctype="multipart/form-data" method="post" name="form" onchange="readURL(this)" targetID="changepic">
                        <table>
                            </select> </td>
                            <td>
                                <div class="profile-image">
                                    <img id="changepic" src=<%=item.m_pic %> alt="會員頭貼">
                                </div>
                            </td>
                            <td>
                                <p>選擇會員照片</p>
                                <input type="file" name="m_pic" onchange="readURL(this)" targetID="changepic" accept="image/gif, image/jpeg, image/png">
                            </td>
                        </table>
                        <table>
                            </select> </td>
                            <td>
                                <p>*暱稱:<br /><input type="text" name="m_nickname" required value=<%=item.m_nickname %> >
                                </p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>*信箱:<br /><input type="text" name="m_email" required value=<%=item.m_email %> ></p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>*密碼:<br /><input type="text" name="m_password" required value=<%=item.m_password %> >
                                </p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>電話:<br /><input type="text" name="m_phone" oninput="value=value.replace(/[^\d]/g,'')"
                                        value=<%=item.m_phone %> ></p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>生日:<br /><input type="date" name="m_birth" value=<%=item.m_birth %> ></p>
                            </td>
                        </table>

                        <table>
                            </select> </td>
                            <td>
                                <p>性別:<br />
                                    <select name="m_sex">
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </p>
                            </td>

                        </table>

                        <p><input type="submit" value="送出登記資料"></p>
                    </form>
                    <script>
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var imageTagID = input.getAttribute("targetID");
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    var img = document.getElementById(imageTagID);
                                    img.setAttribute("src", e.target.result)
                                }
                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>



                    <!--  <div class="col-xl-10">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="暱稱"> <input id="btn1" type="button" value="修改" onclick="btnnumkeypad(this)" style="position:relative; left:600px; top: 0px; " /> 
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="信箱">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="電話">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="性別">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="生日">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="實驗動物領養人">
                    </div>-->

                    <!--<div class="row">-->
                    <div class="col-sm my-2">
                        <img src="images/01-banner.jpg" class="img-fluid">
                    </div>
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                    <div class="col-sm my-2">
                        <img src="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="js/bootstrap.js"></script>
</body>

</html>